@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply inline-block;
  }
}
@layer base {
  :root {
  --background: 240 10% 98%;
  --foreground: 240 10% 10%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 10%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 10%;

  --primary: 217 91% 60%; /* A vibrant blue/teal tone */
  --primary-foreground: 0 0% 100%;

  --secondary: 240 5% 95%;
  --secondary-foreground: 240 5% 15%;

  --muted: 240 5% 94%;
  --muted-foreground: 240 3.8% 45%;

  --accent: 240 6% 92%;
  --accent-foreground: 240 6% 20%;

  --destructive: 0 80% 55%;
  --destructive-foreground: 0 0% 100%;

  --border: 240 5% 85%;
  --input: 240 5% 85%;
  --ring: 217 91% 60%;

  --radius: 0.5rem;
}


  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground !overflow-x-hidden;
  }
}

.quill-content ul {
  list-style-type: disc;
  padding-left: 1em;
}

.quill-content ol {
  list-style-type: decimal;
  padding-left: 1em;
}

.quill-content li {
  margin-bottom: 0.3em;
}

body {
  padding: 0px;
  margin: 0px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media print {
  #no-print {
    display: none;
  }
  
  #pdf {
    display: block;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #hello {
    transform: none !important; /* Reset any transforms */
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }
}

@page {
  size: auto;
  margin: 0mm;
}
.radial {
  background: radial-gradient(circle, #a2e0ed, #8dd5e5);
}
